services:
  - type: web
    name: javascript-api
    env: node
    plan: free
    buildCommand: 'npm install && npm install express body-parser'
    startCommand: 'node index.js'
    envVars:
      - key: SECURE_TOKEN
        sync: false # Prompt for a value in the Render Dashboard
    autoDeploy: true
    region: frankfurt